<div class="product-cards">
  <% products.each do |product| %>
    <% if product.shelved %>
      <%= link_to product_path(product), class: 'card' do %>
        <div class="card-image-content">
          <%= image_tag product.first_image.url(:medium) if product.has_images? %>
        </div>
        <div class="card-body">
          <h5 class="card-title">
            <span class="font font--black">
              <%= product.name %>
            </span>
            <br>
            <% if product.color.present? %>
              <span class="font font--black">
                (<%= product.color %>)
              </span>
            <% end %>
          </h5>
          <div class="card-text">
            <span class="font font--grey">
              售價
            </span>
            <%= render_index_selling_price(product) %>
            <hr>
            <div class="card-text__slogan">
              <span class="font font--red">
                <%= product.slogan %>
              </span>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>
