<div class="recoveries">
  <section>
    <div class="square square--red"></div>
    <span class="font font--grey">手機回收價格目錄</span>
  </section>

  <section>
    <div>請選擇品牌：</div>
    <% @brands.each do |brand| %>
      <% if brand.recoveries.any? %>
        <%= link_to "##{ brand.name }", class: "btn-link" do %>
          <div class="btn btn--red btn--group"><%= brand.name %></div>
        <% end %>
      <% end %>
    <% end %>
  </section>

  <div class="recoveriesStandard">
    <%= image_tag "recoveries_standard.jpg" %>
  </div>

  <section class="section list-products">
    <% @brands.each do |brand| %>
      <% if brand.recoveries.any? %>
        <div class="list">
          <div class="list-topics">
            <div class="topic" style="width:25%">
              <%= image_tag brand.logo.url(:medium) %>
            </div>
            <div class="topic" style="flex-grow: 1">
              <span class="font font--red">型號</span>
            </div>
          </div>
          <div class="list-items">
            <% brand.recoveries.each do |recovery| %>
              <div class="item">
                <div style="width: 25%"></div>
                <div class="data" style="flex-grow: 1">
                  <span><%= recovery.name %></span>
                </div>
              </div>
            <% end %>
          </div>
        </div>
        <br><br>
      <% end %>
    <% end %>
  </section>
</div>
