<%= @excel_import_errors || "" %>
<div class="recovery">
  <%= link_to new_admin_recovery_path do %>
    <button type="button" class="btn btn-primary btn-add">新增方案</button>
  <% end %>
  <%= render partial: "modules/excel_maintainer",
    locals: {
      export_url: api_v1_excel_recoveries_export_path(format: :xlsx),
      import_url: api_v1_excel_recoveries_import_path
    } %>

  <div style="float: right">
    <%= form_tag admin_search_recoveries_path,
      { class: "simple_form admin_search_form" } do %>
      <%= search_field_tag "recovery_name", nil,
        class: "form-control input",
        placeholder: "輸入回收名稱"
      %>
      <%= submit_tag "收尋", class: "btn btn-primary" %>
    <% end %>
  </div>

  <div class="list">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">品牌</th>
          <th scope="col">名稱</th>
          <th scope="col">最高金額</th>
          <th scope="col">最低金額</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <% @recoveries.each do |recovery| %>
          <tr>
            <td><%= render_brand_name(recovery) %></td>
            <td><%= recovery.name %></td>
            <td><%= recovery.max_price %></td>
            <td><%= recovery.min_price %></td>

            <td width="100px">
              <%= link_to edit_admin_recovery_path(recovery), class: "action-icons" do %>
                <%= image_tag "icons/pencil.svg" %>
              <% end %>
              <%= link_to admin_recovery_path(recovery), method: :delete, data: { confirm: "確定刪除此方案嗎？" }, class: "action-icons" do %>
                <%= image_tag "icons/x.svg", class: "action-icons" %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
