<div class="brand">
  <%= link_to new_admin_brand_path do %>
    <button type="button" class="btn btn-primary btn-add">新增品牌</button>
  <% end %>
  <%= link_to api_v1_excel_brands_export_path(format: :xls) do %>
    <button type="button" class="btn btn-primary btn-add">匯出excel</button>
  <% end %>

  <div style="float: right">
    <%= form_tag admin_search_brands_path,
      { class: "simple_form admin_search_form" } do %>
      <%= search_field_tag "brand_name", nil,
        class: "form-control input",
        placeholder: "輸入品牌名稱"
      %>
      <%= submit_tag "收尋", class: "btn btn-primary" %>
    <% end %>
  </div>

  <div class="list">
    <table class="table">
      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col">品牌名稱</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <% @brands.each do |brand| %>
          <tr>
            <td width="130px"><%= image_tag brand.logo.url(:medium) if brand.logo %></td>
            <td><%= brand.name %></td>

            <td width="100px">
              <%= link_to edit_admin_brand_path(brand), class: "action-icons" do %>
                <%= image_tag "icons/pencil.svg" %>
              <% end %>
              <%= link_to admin_brand_path(brand), method: :delete, data: { confirm: "確定刪除此電信嗎？" }, class: "action-icons" do %>
                <%= image_tag "icons/x.svg", class: "action-icons" %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
