<div class="stores">
  <section>
    <div class="square square--red"></div>
    <span class="font font--grey">門市據點</span>
  </section>

  <section>
    <% @stores.each do |store| %>
      <%= link_to "##{ store.name }", class: "btn-link" do %>
        <div class="btn btn--blue btn--group"><%= store.name %></div>
      <% end %>
    <% end %>
  </section>

  <% @stores.each do |store| %>
    <div class="info_box" id="<%= store.name %>">
      <div class="info_box-image">
        <%= image_tag store.image.url(:medium) %>
      </div>

      <div class="infos">
        <h4 class="font font--red"><%= store.name %></h4>
        <p>
          <span class="font font--red">服務電話:</span>
          <%= render_dash_if_empty(store.service_line) %>
        </p>
        <p>
          <span class="font font--red">傳真專線:</span>
          <%= render_dash_if_empty(store.fax) %>
        </p>
        <p>
          <span class="font font--red">行動電話:</span>
          <%= render_dash_if_empty(store.phone) %>
        </p>
        <p>
          <span class="font font--red">E-mail:</span>
          <%= render_dash_if_empty(store.email) %>
        </p>
        <p>
          <span class="font font--red">Line ID:</span>
          <%= render_dash_if_empty(store.line_ID) %>
        </p>
        <p>
          <span class="font font--red">門市地址:</span>
          <%= render_dash_if_empty(store.address) %>
        </p>
        <p>
          <span class="font font--red">營業時間:</span>
          <%= store.time %>
        </p>
        <%= link_to store.google_map_url, target: "_blank" do %>
          <div class="btn btn--red">瀏覽地圖</div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
