<div class="pre_order">
  <div class="list">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">預購人</th>
          <th scope="col">預購人電話(帳號)</th>
          <th scope="col">預購商品名稱(當時)</th>
          <th scope="col">預購時間</th>
          <th scope="col">預購備註</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <% @pre_orders.each do |order| %>
          <tr>
            <td><%= order.user.name %></td>
            <td><%= order.user.phone %></td>
            <td><%= order.product_name %></td>
            <td><%= order.created_at.to_s(:db) %></td>
            <td><%= order.content %></td>

            <td width="100px">
              <%= link_to edit_admin_pre_order_path(order), class: "action-icons" do %>
                <%= image_tag "icons/pencil.svg" %>
              <% end %>
              <%= link_to admin_pre_order_path(order), method: :delete, data: { confirm: "確定刪除此預購單嗎？" }, class: "action-icons" do %>
                <%= image_tag "icons/x.svg", class: "action-icons" %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
