<%= simple_form_for @new_side_bar_ad, url: admin_side_bar_ads_path do |f| %>
  <% @side_bar_ads.each do |ad| %>
    <div class="side_bar_ads_image_editor">
        <%= link_to admin_side_bar_ad_path(ad), method: :delete, data: { confirm: "確定刪除此廣告圖片嗎？" }, class: "action-icons" do %>
          <%= image_tag "icons/x.svg", class: "action-icons" %>
        <% end %>
      <%= image_tag ad.image.url(:medium) %>
    </div>
    <br>
  <% end %>
  <hr>
  <%= f.input :image, label: "圖片", as: :file, hint: "圖片會自動裁減為225x65(px)" %>
  <%= f.input :url, label: "連結" %>
  <%= f.button :submit, "提交", class: "btn btn-primary" %>
<% end %>
