<div class="ads_bar">
  <%= link_to image_tag("ads_bar/ads_bar_example.jpg"), "" %>
  <%= link_to image_tag("ads_bar/ads_bar_example.jpg"), "" %>
  <%= link_to image_tag("ads_bar/ads_bar_example.jpg"), "" %>
  <%= link_to image_tag("ads_bar/ads_bar_example.jpg"), "" %>
  <%= link_to image_tag("ads_bar/ads_bar_example.jpg"), "" %>
</div>
