<li class="nav-item">
  <%= link_to products_path, class: "nav-link" do %>
    <%= image_tag "icons/phone.svg" %>
    <div>價格總覽</div>
  <% end %>
</li>
<li class="nav-item">
  <%= link_to variants_path, class: "nav-link" do %>
    <%= image_tag "icons/calculator.svg" %>
    <div>門號折扣</div>
  <% end %>
</li>
<li class="nav-item">
  <%= link_to recoveries_path, class: "nav-link" do %>
    <%= image_tag "icons/loop-circular.svg" %>
    <div>二手折扣</div>
  <% end %>
</li>
<li class="nav-item">
  <%= link_to stores_path, class: "nav-link" do %>
    <%= image_tag "icons/map-marker.svg" %>
    <div>門市據點</div>
  <% end %>
</li>
<% if !current_user %>
  <li class="nav-item">
    <%= link_to new_user_session_path, class: "nav-link" do %>
      <%= image_tag "icons/people.svg" %>
      <div>會員登入</div>
    <% end %>
  </li>
<% else %>
  <li class="nav-item">
    <%= link_to destroy_user_session_path, method: :delete, class: "nav-link" do %>
      <%= image_tag "icons/external-link.svg" %>
      <div>會員登出</div>
    <% end %>
  </li>
  <li class="nav-item">
    <%= link_to admin_path, class: "nav-link" do %>
      <%= image_tag "icons/home.svg" %>
      <div>後台管理</div>
    <% end %>
  </li>
<% end %>
<form class="form-inline">
  <input type="search" placeholder="輸入機型..." aria-label="Search">
  <button class="btn btn-secondary" type="submit">收尋</button>
</form>
