<nav class="nav flex-column side-bar">
  <div class="side-bar__search_products_input">
    <%= render "components/search_products_input" %>
  </div>

  <div class="side-bar__collapse" id="side-bar__collapse">
    <% Brand.has_categories.order('sort ASC').each_with_index do |brand, index| %>
      <div class="card">
        <div class="card-header">
          <h5 class="mb-0">
            <%= button_tag brand.name,
              type: 'button',
              style: 'font-weight: bold;',
              class: 'btn btn-link',
              data: {
                toggle: 'collapse',
                target: "#collapse_#{index}"
              } %>
          </h5>
        </div>

        <div id="collapse_<%= index %>"
             class="collapse collapse_<%= index %> <%= pre_expand_brand(brand) %>"
             data-parent="#side-bar__collapse">
          <div class="card-body">
            <% brand.categories.each do |c| %>
              <%= link_to category_path(c) do %>
                <div><%= c.name %></div>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</nav>
