<nav class="nav flex-column side-bar">
  <%= form_tag search_products_path, method: :post, class: "form-inline" do %>
    <input class="font font--08r" name="search_key" placeholder="快速查詢">
    <button class="btn btn-secondary" type="submit">
      <%= image_tag "icons/magnifying-glass.svg" %>
    </button>
  <% end %>

  <div class="side-bar__collapse" id="side-bar__collapse">
    <% Brand.includes(:products).order('sort ASC, products.name DESC').has_products.each_with_index do |brand, index| %>
      <div class="card">
        <div class="card-header">
          <h5 class="mb-0">
            <%= button_tag brand.name,
              type: 'button',
              style: 'font-weight: bold;',
              class: 'btn btn-link',
              data: {
                toggle: 'collapse',
                target: "#collapse_#{index}"
              } %>
          </h5>
        </div>

        <div id="collapse_<%= index %>"
             class="collapse collapse_<%= index %> <%= pre_expand_product_brand(brand, @product.try(:brand)) %>"
             data-parent="#side-bar__collapse">
          <div class="card-body">
            <% brand.products.each do |product| %>
              <%= link_to product_path(product) do %>
                <div><%= product.name %></div>
                <div><%= product.color %></div>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</nav>
