<nav class="nav flex-column side-bar">
  <%= form_tag search_products_path, method: :post, class: "form-inline" do %>
    <input class="font font--08r" name="search_key" placeholder="快速查詢">
    <button class="btn btn-secondary" type="submit">
      <%= image_tag "icons/magnifying-glass.svg" %>
    </button>
  <% end %>

  <% Brand.all.each_with_index do |brand, index| %>
    <% if brand.has_products? %>
      <div class="accordion" id="accordion_<%= index %>">
        <div class="card">
          <div class="card-header">
            <h5 class="mb-0">
              <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne_<%= index %>">
                <%= brand.name %>
              </button>
            </h5>
          </div>

          <div id="collapseOne_<%= index %>" class="collapse" data-parent="#accordion_<%= index %>">
            <div class="card-body">
              <% brand.products.each do |product| %>
                <%= link_to product.name, product_path(product) %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</nav>
