<%= @excel_import_errors || "" %>
<div class="store">
  <div class="section" style="min-height: 38.75px;">
    <% if can? :quick_add_images, Store %>
      <%= render partial: "modules/admin_quick_add_images",
        locals: {
          url: admin_add_store_images_path,
          hint: "會自動裁減為250x250(px),檔案名稱請與門市名稱一致"
        } %>

      <hr>
    <% end %>

    <%= render partial: "modules/admin_search",
      locals: {
        url: admin_search_stores_path,
        search_target: "store_name",
        placeholder: "輸入門市名稱"
      } %>
  </div>

  <% if can? :creat, Store %>
    <%= link_to new_admin_store_path do %>
      <button type="button" class="btn btn-primary btn-add">新增門市</button>
    <% end %>
    <%= render partial: "modules/excel_maintainer",
      locals: {
        export_url: api_v1_excel_stores_export_path(format: :xlsx),
        import_url: api_v1_excel_stores_import_path
      } %>
  <% end %>

  <div class="store_list">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">門市名稱</th>
          <th scope="col">服務電話</th>
          <th scope="col">行動電話</th>
          <th scope="col">店面位址</th>
          <th scope="col">營業時間</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <% @stores.each do |store| %>
          <tr>
            <td><%= link_to store.name, admin_store_path(store) %></td>
            <td><%= store.service_line %></td>
            <td><%= store.phone %></td>
            <td><%= store.address %></td>
            <td><%= store.time %></td>

            <td width="100px">
              <% if can_update_store?(current_user, store) %>
                <%= link_to edit_admin_store_path(store), class: "action-icons" do %>
                  <%= image_tag "icons/pencil.svg" %>
                <% end if can? :update, Store %>
              <% end %>

              <%= link_to admin_store_path(store), method: :delete, data: { confirm: "確定刪除此門市嗎？" }, class: "action-icons" do %>
                <%= image_tag "icons/x.svg", class: "action-icons" %>
              <% end if can? :delete, Store %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
