<div class="pages">
  <section>
    <%= render "components/carousel_ads" %>
  </section>

  <br>

  <div class="side_bar_ads__mobile-container--in-home-page">
    <%= render partial: "modules/side_bar_ads" %>
  </div>

  <br>

  <nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <a class="nav-item nav-link active" id="is_new-tab" data-toggle="tab" href="#is_new" role="tab" aria-selected="true">
        最新產品
      </a>
      <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#is_unlisted" role="tab" aria-selected="false">
        新機發表
      </a>
      <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#is_pop" role="tab" aria-selected="false">
        熱門產品
      </a>
    </div>
  </nav>

  <div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="is_new" role="tabpanel" aria-labelledby="is_new-tab">
      <%= render partial: "components/carousel_products",
        locals: {
          carousel_id: "new_products",
          product_groups: slice_items_a_group(@new_products)
        } %>
    </div>

    <div class="tab-pane fade" id="is_unlisted" role="tabpanel" aria-labelledby="is_unlisted-tab">
      <%= render partial: "components/carousel_products",
        locals: {
          carousel_id: "unlisted_products",
          product_groups: slice_items_a_group(@unlisted_products)
        } %>
    </div>

    <div class="tab-pane fade" id="is_pop" role="tabpanel" aria-labelledby="is_pop-tab">
      <%= render partial: "components/carousel_products",
        locals: {
          carousel_id: "pop_products",
          product_groups: slice_items_a_group(@pop_products)
        } %>
    </div>
  </div>

  <br>
</div>
