<% if @excel_import_errors.present? %>
  <div class="alert alert-dismissable alert-danger">
    <button class="close" data-dismiss="alert">×</button>
    <%= @excel_import_errors %>
  </div>
<% end %>

<div class="variant">
  <%= link_to new_admin_variant_path do %>
    <button type="button" class="btn btn-primary btn-add">新增方案</button>
  <% end %>
  <%= render partial: "modules/excel_maintainer",
    locals: {
      export_url: api_v1_excel_variants_export_path(format: :xlsx),
      import_url: api_v1_excel_variants_import_path
    } %>

  <div style="float: right">
    <%= form_tag admin_search_variants_path,
      { class: "simple_form admin_search_form" } do %>
      <%= search_field_tag "variant_name", nil,
        class: "form-control input",
        placeholder: "輸入方案名稱"
      %>
      <%= select_tag "tele_id",
        options_from_collection_for_select(Telecommunication.all, "id", "name"),
        prompt: "選擇電信",
        class: "form-control select"
      %>
      <%= submit_tag "收尋", class: "btn btn-primary" %>
    <% end %>
  </div>

  <div class="list">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">No.</th>
          <th scope="col">方案電信</th>
          <th scope="col">名稱</th>
          <th scope="col">專案折扣</th>
          <th scope="col">預繳金額</th>
          <th scope="col">優惠流量</th>
          <th scope="col">合約期</th>
          <th scope="col">方案敘述</th>
          <th scope="col">啟用</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <% @variants.each do |variant| %>
          <tr>
            <td><%= variant.id %></td>
            <td><%= render_telecommunication_name(variant) %></td>
            <td><%= variant.name %></td>
            <td><%= variant.discount %></td>
            <td><%= variant.prepaid %></td>
            <td><%= variant.traffic %></td>
            <td><%= variant.period %></td>
            <td>
              <%= simple_format(variant.content) %>
              <span class="font font--blue">
                <%= variant.content2 if variant.content2 %>
              </span>
            </td>
            <td><%= variant.enable ? '是' : '否' %></td>

            <td width="100px">
              <%= link_to edit_admin_variant_path(variant), class: "action-icons" do %>
                <%= image_tag "icons/pencil.svg" %>
              <% end %>
              <%= link_to admin_variant_path(variant), method: :delete, data: { confirm: "確定刪除此方案嗎？" }, class: "action-icons" do %>
                <%= image_tag "icons/x.svg", class: "action-icons" %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
