<div class="variants">
  <section>
    <div class="square square--red"></div>
    <span class="font font--grey">門號折扣</span>
  </section>

  <section>
    <div>請選擇電信公司：</div>
    <% @telecommunications.each do |telecommunication| %>
      <% if telecommunication.variants.any? %>
        <%= link_to "##{ telecommunication.name }", class: "btn-link" do %>
          <div class="btn btn--red btn--group"><%= telecommunication.name %></div>
        <% end %>
      <% end %>
    <% end %>
  </section>

  <section class="list-variants">
    <% @telecommunications.each do |telecommunication| %>
      <% if telecommunication.variants.any? %>
        <div class="logos">
          <%= image_tag telecommunication.logo.url(:medium) %>
        </div>
        <div class="list">
          <div class="list-topics">
            <div class="topic" style="width:30%">
              <%= content_tag :span, "方案", class: "font font--red font--12r" %>
            </div>
            <div class="topic" style="width:15%">
              <%= content_tag :span, "折扣價", class: "font font--green font--12r" %>
            </div>
            <div class="topic" style="width:11.5%">
              <%= content_tag :span, "預繳", class: "font font--orange font--12r" %>
            </div>
            <div class="topic" style="width:15%">
              <%= content_tag :span, "傳輸量", class: "font font--orange font--12r" %>
            </div>
            <div class="topic" style="flex-grow:1">
              <%= content_tag :span, "方案內容", class: "font font--red font--12r" %>
            </div>
          </div>
          <div class="list-items">
            <% telecommunication.variants.each do |variant| %>
              <div class="item">
                <div class="data" style="width: 30%">
                  <span><%= variant.name %></span>
                </div>
                <div class="data" style="width: 15%">
                  <span><%= variant.discount %></span>
                </div>
                <div class="data" style="width: 11.5%">
                  <span><%= variant.prepaid %></span>
                </div>
                <div class="data" style="width: 15%">
                  <span><%= variant.traffic %></span>
                </div>
                <div class="data" style="flex-grow:1">
                  <span><%= simple_format(variant.content) %></span>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
  </section>
</div>
