<%= simple_form_for @product, url: url do |f| %>
  <%= f.association :brand, label: "商品品牌", as: :select, prompt: "請選擇品牌" %>
  <%= f.input :name, label: "名稱" %>
  <%= f.input :tag, label: "特色標籤" %>
  <%= f.input :slogan, label: "標題語" %>
  <%= f.input :content, label: "商品內文", input_html: { rows: '6' } %>
  <%= f.input :list_price, label: "市價", as: :integer %>
  <%= f.input :selling_price, label: "折扣價", as: :integer %>
  <%= f.input :shelved, label: "上架", as: :boolean %>
  <%= f.input :priced, label: "標價", as: :boolean %>
  <%= f.input :is_new, label: "設為新產品輪播", as: :boolean %>
  <%= f.input :is_pop, label: "設為熱門產品輪播", as: :boolean %>

  <% if @product.has_images? %>
    <% @product.images.each do |product_image| %>
      <div class="product_image_editor">
        <%= link_to admin_product_image_path(product_image), method: :delete, data: { confirm: "確定刪除此照片嗎？" }, class: "action-icons" do %>
          <%= image_tag "icons/x.svg", class: "action-icons" %>
        <% end %>
        <%= image_tag product_image.image.url(:medium) %>
      </div>
    <% end %>
  <% end %>

  <%= f.simple_fields_for @product.product_images do |i| %>
    <%= i.input :images, label: "圖片", as: :file, input_html: { multiple: true }, hint: "可選擇多個檔案，會自動裁減為300x300(px)" %>
  <% end %>

  <%= f.button :submit, "提交", class: "btn btn-primary" %>
<% end %>
