<div class="products">
  <div class="section">
    <%= render partial: "modules/admin_quick_add_images",
      locals: {
        url: admin_add_product_images_path,
        hint: "會自動裁減為300x300(px),檔案名稱請與商品名稱一致"
      } %>

    <%= render partial: "modules/admin_products_search" %>
    <div class="font font--08r font--grey">
      多個同商品圖片請加雙底線,ex: iPhone 8.jpg, iPhone 8__1.jpg, iPhone 8__2.jpg
    </div>
  </div>

  <hr>

  <%= link_to new_admin_product_path do %>
    <button type="button" class="btn btn-primary btn-add">新增商品</button>
  <% end %>
  <%= render partial: "modules/excel_maintainer",
    locals: {
      export_url: api_v1_excel_products_export_path(format: :xlsx),
      import_url: api_v1_excel_products_import_path
    } %>

  <div class="list">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">商品名稱</th>
          <th scope="col">標題語</th>
          <th scope="col">市價</th>
          <th scope="col"><span class="font--important">售價</span></th>
          <th scope="col">狀態</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <% @products.each do |product| %>
          <tr>
            <td>
              <%= link_to product.name, admin_product_path(product) %>
              <%= render_tag(product.tag) %>
            </td>
            <td><%= product.slogan %></td>
            <td><%= product.list_price %></td>
            <td>
              <span class="font--important">
                <%= product.selling_price %>
              </span>
            </td>
            <td width="160px">
              <%= render_shelved_status(product) %>
              <%= render_on_sale_status(product) %>
              <%= render_pre_orderable_status(product) %>
            </td>
            <td width="100px">
              <%= link_to edit_admin_product_path(product), class: "action-icons" do %>
                <%= image_tag "icons/pencil.svg" %>
              <% end %>
              <%= link_to admin_product_path(product), method: :delete, data: { confirm: "確定刪除此商品嗎？" }, class: "action-icons" do %>
                <%= image_tag "icons/x.svg", class: "action-icons" %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
