<div class="product">
  <%= link_to new_admin_product_path do %>
    <button type="button" class="btn btn-primary btn-add">新增商品</button>
  <% end %>
  <div class="list">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">商品名稱</th>
          <th scope="col">標題語</th>
          <th scope="col">市價</th>
          <th scope="col"><span class="font--important">折扣價</span></th>
          <th scope="col">狀態</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <% @products.each do |product| %>
          <tr>
            <td>
              <%= link_to product.name, admin_product_path(product) %>
              <%= render_tag(product.tag) %>
            </td>
            <td><%= product.slogan %></td>
            <td><%= product.list_price %></td>
            <td>
              <span class="font--important">
                <%= product.selling_price %>
              </span>
            </td>
            <td width="160px">
              <%= render_shelved_status(product.shelved) %>
              <%= render_priced_status(product.priced) %>
            </td>
            <td width="100px">
              <%= link_to edit_admin_product_path(product), class: "action-icons" do %>
                <%= image_tag "icons/pencil.svg" %>
              <% end %>
              <%= link_to admin_product_path(product), method: :delete, data: { confirm: "確定刪除此商品嗎？" }, class: "action-icons" do %>
                <%= image_tag "icons/x.svg", class: "action-icons" %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
