<div class="telecommunication">
  <%= link_to new_admin_telecommunication_path do %>
    <button type="button" class="btn btn-primary btn-add">新增電信</button>
  <% end %>
  <%= link_to api_v1_excel_telecommunications_export_path(format: :xlsx) do %>
    <button type="button" class="btn btn-primary btn-add">匯出excel</button>
  <% end %>

  <%= form_tag api_v1_excel_telecommunications_import_path, {
    multipart: true,
    style: "display: inline-block;"
  } do %>
    <%= file_field_tag :file, { style: "width: 200px;" } %>
    <%= submit_tag "匯入excel", class: "btn btn-primary" %>
  <% end %>

  <div style="float: right">
    <%= form_tag admin_search_telecommunications_path,
      { class: "simple_form admin_search_form" } do %>
      <%= search_field_tag "tele_name", nil,
        class: "form-control input",
        placeholder: "輸入電信名稱"
      %>
      <%= submit_tag "收尋", class: "btn btn-primary" %>
    <% end %>
  </div>

  <div class="list">
    <table class="table">
      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col">電信名稱</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <% @telecommunications.each do |telecommunication| %>
          <tr>
            <td width="130px"><%= image_tag telecommunication.logo.url(:medium) if telecommunication.logo %></td>
            <td><%= telecommunication.name %></td>

            <td width="100px">
              <%= link_to edit_admin_telecommunication_path(telecommunication), class: "action-icons" do %>
                <%= image_tag "icons/pencil.svg" %>
              <% end %>
              <%= link_to admin_telecommunication_path(telecommunication), method: :delete, data: { confirm: "確定刪除此電信嗎？" }, class: "action-icons" do %>
                <%= image_tag "icons/x.svg", class: "action-icons" %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
