<%= simple_form_for @user, url: url do |f| %>
  <%= f.input :phone, disabled: true %>
  <%= f.input :name %>
  <%= f.input :comment, input_html: { rows: '6' } %>
  <%= f.input :sex,
              as: :radio_buttons,
              collection: [["男性", "male"], ["女性", "female"]],
              required: true %>
  <%= f.input :address %>
  <%= f.association :store,
              label: "所屬門市",
              as: :select,
              prompt: "請選擇門市",
              required: true %>
  <%= f.input :line %>
  <%= f.input :email %>
  <%= f.input :birthday,
              as: :date,
              include_blank: true,
              html5: true %>

  <% if current_user.has_role? :admin %>
    <%= f.association :roles,
                as: :check_boxes,
                label: "角色"%>
    <p class="font font--08r font--grey">
      admin: 管理員<br>
      store_manager: 店長<br>
      normal: 一般會員
    </p>
  <% end %>

  <%= f.button :submit, "提交", class: "btn btn-primary" %>
<% end %>
