<%= @excel_import_errors || "" %>
<div class="user">
  <div class="section" style="min-height: 38.75px;">
    <%= render partial: "modules/admin_user_search" %>
    <% if can? :import, User %>
      <%= render partial: "modules/excel_maintainer",
        locals: {
          export_url: api_v1_excel_users_export_path(format: :xlsx),
          import_url: api_v1_excel_users_import_path
        } %>
    <% end %>
  </div>

  <div class="list">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">註冊門市</th>
          <th scope="col">電話(帳號)</th>
          <th scope="col">姓名</th>
          <th scope="col">性別</th>
          <th scope="col">角色</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td><%= user.store ? user.store.name : "-" %></td>
            <td><%= user.phone %></td>
            <td><%= render_dash_if_empty(user.name) %></td>
            <td><%= render_human_sex(user.sex) %></td>
            <td><%= render_roles(user.roles) %></td>

            <td width="100px">
              <%= link_to edit_admin_user_path(user), class: "action-icons" do %>
                <%= image_tag "icons/pencil.svg" %>
              <% end if can? :update, User %>
              <%= link_to admin_user_path(user), method: :delete, data: { confirm: "確定刪除此會員嗎？" }, class: "action-icons" do %>
                <%= image_tag "icons/x.svg", class: "action-icons" %>
              <% end if can? :delete, User %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
