<form class="form-inline">
  <label for="variantSelector">搭配門號折扣：</label>
  <select id="variantSelector" onchange="calculateSubtotal(value)">
    <option value="0" selected>請選擇電信</option>
    <%= @telecommunications.each do |telecommunication| %>
      <option disabled>
        -------<%= telecommunication.name %>-------
      </option>
      <%= telecommunication.variants.each do |variant| %>
        <%= content_tag :option, variant.name, value: variant.discount %>
      <% end %>
    <% end %>
  </select>
</form>
<form class="form-inline">
  <label for="recoverySelector">手機回收折扣：</label>
  <select id="recoverySelector" onchange="calculateSubtotal(value)">
    <option value="0" selected>請選擇型號</option>
    <%= @brands.each do |brand| %>
      <option disabled>
        -------<%= brand.name %>-------
      </option>
      <%= brand.recoveries.each do |recovery| %>
        <%= content_tag :option, recovery.name, value: recovery.min_price %>
      <% end %>
    <% end %>
  </select>
</form>
<div class="recoveriesStandard recoveriesStandard--hidden">
  <%= image_tag "recoveries_standard.jpg" %>
</div>
<div>
  <span class="font font--red">小計</span>:
  <span class="font font--red font--large">
    $ <%= content_tag :span, @product.selling_price, id: "subtotal" %>
  </span>
</div>

<script type="text/javascript">
  var calculateSubtotal = function (value) {
    var sellingPriceTag = document.getElementById('selling_price');
    var sellingPrice = parseInt(sellingPriceTag.dataset.price)

    var variantDiscount = parseInt(document.getElementById("variantSelector").value)
    var recoveryDiscount = parseInt(document.getElementById("recoverySelector").value)

    if (!!recoveryDiscount) {
      $(".recoveriesStandard").show()
    } else {
      $(".recoveriesStandard").hide()
    }

    var subtotal = sellingPrice - variantDiscount - recoveryDiscount
    document.getElementById('subtotal').innerHTML = subtotal
  }
</script>
