<%= simple_form_for product,
  remote: true,
  url: product_tele_search_varirnt_path(product),
  html: {
    class: "variant_select_form"
  } do |f| %>

  <%= f.input :tele_id, label: "選擇電信", collection: tele_options, prompt: "請選擇電信" %>
  <div class="variant_select_panel">
    <%= f.input :variant_id, label: "選擇方案", collection: variant_options, prompt: "請選擇方案" %>
    <span class="font font--red font--08r _product-variant_select_hint">
      此方案正在下殺中，請來電詢問隱藏優惠唷！
    </span>
  </div>

  <%= f.input :recovery_id, label: "手機回收折扣", collection: recovery_options_by(brands), prompt: "請選擇型號", disabled: ["0"] %>
<% end %>

<div class="recoveries-standard recoveries-standard--hidden">
  <%= image_tag "recoveries_standard.jpg" %>
</div>
<div>
  <span class="font font--red">小計</span>:
  <span class="font font--red font--16r">
    $ <%= content_tag :span, product.selling_price || 0, id: "subtotal", class: "font--16r" %>
  </span>
</div>
