<section class="products">
  <div class="title-tip">
    <div class="square square--red"></div>
    <span class="font font--grey">產品目錄</span>
  </div>

  請選擇品牌：
  <div class="list-brands">
    <% @brands.each do |brand| %>
      <%= link_to "##{ brand.name }", class: "btn-link" do %>
        <div class="btn btn--red btn--group"><%= brand.name %></div>
      <% end %>
    <% end %>
  </div>

  <div class="list-products">
    <% @brands.each do |brand| %>
      <table class="table">
        <thead>
          <tr>
            <th scope="col" id="<%= brand.name %>">
              <%= image_tag brand.logo.url(:normal) %>
              <span class="font font--red">型號</span>
            </th>
            <th scope="col">
              <span class="font font--red">價格</span>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <% brand.products.each do |product| %>
            <tr>
              <td>
                <%= link_to product.name, product_path(product), class: "product-name" %>
              </td>
              <td width="230px;">
                <%= render_list_selling_price(product) %>
              </td>
              <td width="100px;">
                <%= link_to "詳情", product_path(product), class: "btn btn--red" %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
  </div>
</section>
