<section class="products">
  <div>
    <div class="square  square--red"></div>
    <span class="font font--grey">產品目錄</span>
  </div>
  <div class="details">
    <div class="image">
      <% if @product.has_images? %>
        <% @product.images.each do |product_image| %>
          <%= image_tag product_image.image.url(:medium) %>
        <% end %>
      <% end %>
    </div>

    <div class="specs">
      <div>
        <div class="square square--grey square--large"></div>
        <span class="font font--red font--16r"><%= @product.name %></span>
        <div class="_product-tag--show-page">
          <%= render_tag(@product.tag) %>
        </div>
      </div>
      <div>
        <span class="font font--red">市價</span>:
        <%= render_details_list_price(@product) %>
      </div>
      <div>
        <span class="font font--red">售價</span>:
        <%= render_details_selling_price(@product) %>
      </div>
      <div><%= simple_format(@product.content) %></div>
      <%= render "products/discount_selector" %>
      <%= render "products/pre_order" %>
    </div>
  </div>
</section>
