<section class="products">
  <div>
    <div class="square  square--red"></div>
    <span class="font font--grey">產品目錄</span>
  </div>
  <div class="details">
    <div class="image">
      <%= image_tag @product.image.url(:medium) %>
    </div>

    <div class="specs">
      <div>
        <div class="square square--grey square--large"></div>
        <span class="font font--red font--16r"><%= @product.name %></span>
        <%= render_tag(@product.tag) %>
      </div>
      <div><%= simple_format(@product.content) %></div>
      <div>
        <span class="font font--red">市價</span>:
        <%= content_tag :span, "$"+@product.list_price.to_s, class: "font font--delete" %>
      </div>
      <div>
        <span class="font font--red">折扣價</span>:
        <%= render_details_selling_price(@product) %>
      </div>
      <%= render "products/discount_selector" %>
    </div>
  </div>
</section>
