<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0"/>
    <title>就是便宜</title>
    <%= favicon_link_tag "favicon.jpg" %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <div class="wrapper">
      <div class="wrapper-body">
        <%= render "modules/admin_nav" %>
        <%= render partial: "modules/flash" %>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
